# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# Dependencies
node_modules/

# Build
dist/
project/backend/server
project/backend/bin/
project/backend/bootstrap
project_admin/backend/server
project_admin/backend/crawler
project_admin/Crawler_results/
